log:
  level: info
  job_level: info

runner:
  file: .runner
  capacity: 4
  env_file: .env
  insecure: true
  timeout: 3h
  shutdown_timeout: 3h

container:
  network: "host"
  docker_host: "tcp://127.0.0.1:2375"
  valid_volumes:
    - '**'